/* PHASE 4: Footer */

.footer {
  border: 1px solid #aaa;
  width: 900px;
  background: #fff;
  margin: auto;
  color: #ccc;
}

.footer-copy {
  float: left;
  padding: 10px;
  margin-top: 10px;
}

.footer-links {
  float: right;
  padding: 10px;
}

.footer-links > li {
  float: left;
  padding: 10px;
}

.footer a {

}

.footer a:hover {
  color: #000;
}
