body {
  font-family: "Arial, sans-serif";
  width: 900px;
  margin: 0 auto;
  display: flex;
  }

aside {
  flex: 1;
  margin-right: 15px;
  order: 1;
}

aside > ul > li, #Directions > li {
  display: box;
  margin-top: 15px;
  margin-bottom: 15px;
}

section {
  display: flex;
  flex: 4;
  order: 1;
}

select {
  margin: 20px;
}

input[type="text"], select, textarea {
  width: 180px;
}

h1 { font-size: 38px }
h2 { font-size: 32px }
ol { list-style: }
.ingredients-list { list-style: "square inside" }
header > img { float: left; }
nav { float: right; }
input {
  display: box;
}

header:after {
  clear: both;
}

figure {
  flex: 1, 100%;
}
