header, img, nav, ul, a, aside, li, section, figure, h3, figcaption,
body, h1, h2, p, ol, form, label, textarea, input, select, footer {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;

}

input[type="radio"], select, input[type="submit"] {
  cursor: pointer;
  outline: none;
}

input [type="radio"] {
  background-image: url(../assets/stars.png);
}

form:last-child {
  background-color: gold;
}

form:last-child:hover {
  -webkit-filter: brightness(90%);
}

#Directions > li:nth-of-type(2n) {
    background-color: lightgray;
}

#review-header + li {
  border-top-color: black;
  border-top-width: 1px;
  border-top-style: solid;
}
